# Julia
*.ji
*.so
*.dylib
*.dll
*.o
*.a
*.lib
*.pdb
*.pyc
*.pyo
*.pyd
__pycache__/

# IDE
.idea/
.vscode/
*.code-workspace

# Build
build/
dist/
*.egg-info/

# Dependencies
Manifest.toml
Project.toml.lock

# Environment
.env
myenv/

# Logs
*.log

# Documentation output
manual.pdf
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind


# Test output
doc/tst/*.out
doc/tst/*.log

# Temp files are kept in this folder
tmp/

# Specific to CIP server
.nfs*
